html, body {
    background: #202020;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
}

.loaders {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1000;
}

.loaders p {
    font-family: 'Nunito', monospace;
    color: white;
}

.loading-text {
    color: white;
    font-size: 1.3em;
    margin-top: 10px;
}

.hidden {
    display: none;
}

.fade-in {
    animation: fadeIn 2s ease-in-out;
}

.fade-out {
    opacity: fadeOut 2s ease;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.lyrics {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    color: #f1f1f1;
    padding: 20px;
}

.highlight {
    color: #13e21d;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #101010;
}

h1 {
    margin: 0.5em 0;
    font-size: 2em;
    color: #000000;
}

h5 {
    margin: 0.5em 0;
    font-size: 1em;
    background: linear-gradient(270deg, #13e21d, #10aae7, #ae1ee7);
    background-size: 600% 600%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradasi 10s ease infinite;
}

/* Lyrics Color */

#romaji-lyrics {
    color: rgb(235, 118, 23);
}

@keyframes gradasi {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.ellipsis::after {
    content: '.';
    animation: ellipsisAnimation steps(1,end) 1.5s infinite;
}

@keyframes ellipsisAnimation {
    0% { content: '.'; }
    33% { content: '..'; }
    66% { content: '...'; }
    100% { content: ' .'; }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}